.container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.form-input {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    padding: 10px;
    border: 1px solid grey;
    width: 400px;
    border-radius: 5px;
}

.text {
    height: 30px;
    border-radius: 5px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    margin-top: 10px;
    width: 350px;
    border-radius: 5px;
    height: 50px;
}

.radio {
    margin-bottom: 10px;

    border: 1px solid blue;
}

.btn {
    margin-top: 10px;
    width: 350px;
    height: 30px;
    background-color: rgb(105, 105, 224);
    color: white;
    border-radius: 5px;
}